body{
    background-size: cover;
    background-attachment: scroll;
}
.hot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.home, .mine, .flex-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(171, 116, 161,0.3);  
    border-radius: 5%;
    padding: 25px;
    text-align: center;
    flex-basis: 50px;
}
