*{
  position: relative;
}
body{
    border-radius: 10px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
main{
    display: grid;
    gap: 10px;
    margin: 10px;
    grid-template-columns:  11% 89%;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    color: white;
}
main nav{
    display: grid;
    grid-template-rows: 70% 30%;
    border-right: solid rgb(107, 100, 100) 1px;
    justify-content: center;
    text-align: center;
    align-content: space-between;
    margin-top: 10px;
}
nav img{
  border-radius: 50%;
  width: inherit;
  height: inherit;
}
ul li{
  list-style-type: none;
}
nav i{
  margin-top: 20px;
  padding-top: 15px;
  margin-left: -40px;
  }
nav i:hover{
background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
border-radius: 5px;
border: 1px solid rgba(255,255,255,0.18);
box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
width: 50px;
height: 30px;
margin-top: 20px;
padding-top: 15px;
margin-left: -40px;
}
section{
    display: grid;
    grid-template-columns: 70% 30%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 300px;
}
.popularplaylists img{
    position: relative;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    display: flex;
    color: white; 

}
.popularplaylists h2{
  position: absolute;
}
.ema{
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  width: 130px;
  height: 40px;
  font-size: medium;
  color: white;
  align-items: baseline;
  justify-content: center;
  position: absolute;
}
.popularplaylists button:hover{
  background-color: white;
  color: black;
}
.featuresartists{
    grid-row: 3/4;
    padding-right: 20px;
}

.recommendedsongs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-left: solid 1px rgb(107, 100, 100);
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.playing {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15%;
    padding-right: 15%;
    height: 350px;
}
.playing img{
  border-radius: 50%;
  margin-top: 10px;
  width: 100px;
  height: 100px;
}
.playing button{
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.18);
  text-align: center;
  color: white;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
.playing button:nth-child(2){
  width: 60px;
  height: 60px;
}
.playing button:hover{
  background-color: rgb(197, 191, 191);
}
.playing input{
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 10px 10px 0 rgba(243, 243, 243, 0.200);
  border: 1px solid rgba(255,255,255,0.18);
  text-align: center;
}
.aura{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -5px;
}
.recommendedsongs img{
  border-radius: 10px;
}
.featured-artists{
  grid-row: 3/4;
}
.featured-artists>div{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column: 1/8;
  grid-row: 3/4;
}
.featured-artists img{
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.recommendedalbums img{
  border-radius: 10px;
  width: 350px;
  height: 200px;
}
