h2{
    text-align: center;
    color: brown;
}
li :first-child{
    color: blue;
}
li:nth-child(2){
    color: black;
}
button:focus{
    color: red;
    text-decoration: underline;
}
input::placeholder{
    color: blue;
}
.about{
    display: flex;
}
p.dotted{
    text-align: center;
}
 p.dotted{
  border-width: 300px;
  margin: auto;
  border:  solid rgb(27, 18, 18);
  border-radius: 5px;
}
#hi{
    text-align: right;
    color: rgb(96, 121, 67);
}
.h9{
    color: #ff0000;
}

body {

    background-size: cover;
    background-attachment: scroll;
}
a:link {
    color: rgb(0, 213, 255);
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}

p {
    display: none;
    background-color: yellow;
    padding: 20px;
}
div:first-child p {
    display: block;
}
a:active {
    color: rgb(58, 9, 27);
}
:focus{
    color:  brown;
}



